# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual env
.venv/
env/
venv/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Env files
.env

# Databases / artifacts
dev.db
*.sqlite3

# Alembic cache
alembic/versions/__pycache__/


